{% extends 'base/base00.html' %}
{%load static%}

{% block base00 %}
<!-- Moldura Externa -->
<div class="container-fluid  min-vh-100 px-0" style="background-color: var(--color-04);">
  <!-- Header -->
  <div class="container-fluid justify-content-center px-2 py-3" style="background-color: var(--color-01);">
    
    <!--  -->
    <!-- <div class="container"> -->
      <div class="container">
    <!--  -->
    
      <div class="row d-flex justify-content-between align-items-center" style="min-height: 75px;">
        <div class="col m-0 p-0">
          <!-- <img src="{% static 'imgs/logo_02.png'%}" alt="sigame" height="40px" width="130px"> -->
          <img src="{% static 'imgs/logo_02.png'%}" alt="sigame" height="60px" width="195px">
        </div>
        
        <div class="col d-flex justify-content-end">
            <a class="nav-link dropdown-toggle" href="#" style="color: var(--color-04);" role="button" data-bs-toggle="dropdown" aria-expanded="false" > UsuarioABC </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/troca_senha/">Alterar Senha</a></li>
              <li><a class="dropdown-item" href="/">Desconectar</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div> 
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg px-2" style="background-color: var(--color-03);">
    <div class="container">
      <div></div>
      <!-- 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      -->


      <!----------------------------------------------------->
      


      


      <a class="fa fa-bars navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></a>
      
      
      
      

      
      
      


      


      <!----------------------------------------------------->



      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-4"> <a class="nav-link" href="/guias_0/">Minhas Guias</a> </li>
          <li class="nav-item px-4"> <a class="nav-link" href="/consulta/">Nova Consulta</a> </li>
          <li class="nav-item px-4"> <a class="nav-link" href="/exame/">Novo Exame</a> </li>        
          <li class="nav-item px-4"> <a class="nav-link" href="/financeiro/">Financeiro</a> </li>
          <li class="nav-item px-4"> <a class="nav-link" href="/convenios/">Convênios</a> </li>
          <li class="nav-item px-4"> <a class="nav-link" href="/sobre/">Sobre</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Body -->
  <div class="container px-2">
    {% block base01 %} {% endblock %}
  </div>
</head>

<!-- Modal -->
<div data-bs-theme="dark">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="max-width: 275px;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel;">SIGAME</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
      
      
      <a class="nav-link text-white my-4 " href="/guias_0/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Minhas Guias
      </a>
      <a class="nav-link text-white mb-4" href="/consulta/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Nova Consulta
      </a>
      <a class="nav-link text-white mb-4" href="/exame/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Novo Exame
      </a>
      <a class="nav-link text-white mb-4" href="/financeiro/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Financeiro
      </a>
      <a class="nav-link text-white mb-4" href="/convenios/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Convênios
      </a>
      <a class="nav-link text-white mb-4" href="/sobre/">
        <i class="fa fa-external-link me-2" aria-hidden="true"></i>
        Sobre
      </a>
      
    </div>
  </div>
</div>

{% endblock %}
