/* RESET */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-size: 100%;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: rgb(85, 82, 82);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

