{% extends 'base/base01.html' %}
{%load static%}

{% block base01 %}

<h4 class="pt-3">Nova Consulta</h4>
<hr>

<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
    <form>
      <div class="mb-3">
        <label for="especialidade" class="form-label">Especialidade:</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-5">
        <label for="convenio" class="form-label">Convênio:</label>
        <input type="text" class="form-control">
      </div>
      
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a href="/guias_0/" class="btn px-5 btn-primary"> Enviar </a>
        </div>
      </div>
    </form>
  </div>
</div>




{% endblock %}